<div class="flex w-full items-center justify-between p-4 bg-gradient-to-r from-primary-400 to-primary-500 rounded-t-xl">
    <div class="flex-1 truncate">
        <h3 class="truncate text-lg font-semibold text-white select-none">{{ player().name }}</h3>
    </div>
    <div class="flex-shrink-0">
        <img
            [ngSrc]="'https://api.dicebear.com/9.x/adventurer-neutral/svg?seed=' + player().picture"
            [alt]="player().name + '\'s avatar'"
            class="h-12 w-12 rounded-full border-2 border-white shadow-md"
            height="48"
            width="48"
        >
    </div>
</div>